.clients-link {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .clients-item {
    width: calc((100% - 10px * 5) / 6);
        
    &:nth-child(6n) {
            margin-right: 0;
        }
  }
  
  .clients-item, 
  .clients {
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .clients {
    border: 1px solid #AFB1B8;
    transition: border-color $time-transition-duration $timing-function-cubic;

        &:hover,
        &:focus-within {
            border-color: $accent-color;
            .clients-icon {
                fill: $accent-color;
            }
        }

  }
  
  .clients-icon {
    fill: #AFB1B8;
    display: block;
  
    transition: fill $time-transition-duration $timing-function-cubic;
  }
  