.page-header {
    border-bottom: 1px solid #ECECEC;
    height: 80px;
    padding: 24px 0 24px;
  }
  
  .header-box {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }
  