.logo {
  display: flex;
  justify-content: center;
}

.logo-web,
.logo-studio,
.logo-white {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  @media screen and (min-width: 1200px) {
    font-size: 26px; 
  }
}

.logo-studio {
  color: $main-color;
  margin-left: 1px;
}

.logo-footer {
    margin-bottom: 20px;;
  }
.logo-white {
    color: $accent-color-white;
    padding: 0;
}