    $main-color: #212121;
    $accent-color: #2196F3;
    $accent-color-white: #FFFFFF;
    $grey-text-color: #757575;
    $time-transition-duration: 250ms;
    $timing-function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
