.features {
    padding-top: 60px;
  }
  
  .features-title {
    text-align: center;
    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .features-link {
    margin-left: auto;
  }
  
  .features-item {
      margin-bottom: 30px;
    &:nth-child(4n) {
      margin-bottom: 30px;
  }
}
  
  .features-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  
  .features-icon {
    display: block;
  }
  
  .features-description {
    font-weight: 400;
    color: $grey-text-color;
    margin: 0;
  }