.page-header {
    border-bottom: 1px solid #ECECEC;
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px 0 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 80px;
    padding: 25px 0 25px;
  }

  @media screen and (min-width: 1200px) {
    height: 80px;
    padding: 26px 0 26px;
  }
}

.header-box {
  
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
  
}