.page-header {
  border-bottom: 1px solid #ECECEC;
  @media screen and (max-width: 767px) {
    height: 60px;
    padding: 24px 0 24px;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
    padding: 24px 0 24px;
  }
}

.header-box {
  display: flex;
  align-items: baseline;
}