.our-team {
    background-color: #F5F4FA;
  }
  
  .team-item {
    @media screen  {
      
    }
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $accent-color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
    padding-bottom: 24px;
  }
  
  .team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    margin: 0 0 10px;
    text-align: center;
  }
  
  .team-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  } 
  
  .team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    color: $grey-text-color;
    margin: 0 0 16px;
    text-align: center;
  }